<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shorten url</title>
</head>
<body>
    <header style="color: darkgreen; text-align: center"><h1>Short url</h1></header>
    <main>
        <section style="margin:0 auto 20px auto;max-width:700px;box-shadow:0 1px 4px #ccc;border-radius:2px;padding:10px 30px 5px;background:#fff;text-align:center">
            <form action="/app/shorten/" method="post">
                {% csrf_token %}
                <div style="display:table;max-width:600px;margin:0 auto;">
                    <input type="text" name="url" placeholder="Enter the link here" value="{{ url }}">
                </div>
                <div style="display:table;max-width:600px;margin:0 auto;">
                    <input type="submit" value="Shorten URL" style="background-color: darkgreen; color: white;">
                </div>
            </form>
        </section>
    </main>
</body>
</html>